
  <p><%- include('../common/themes')%></p>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/scripts/navbar.js"></script>
  <script src="/scripts/themes.js"></script>