<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
<link rel="stylesheet" type="text/css" href="/styles/style.css">

<nav class="nav">
  <i class="uil uil-bars navOpenBtn"></i>
  <a href="#" class="logo">Фанфіки</a>

  <ul class="nav-links">
    <i class="uil uil-times navCloseBtn"></i>
    <li><a href="index" id="home-nav"><span class="material-symbols-outlined">home</span> Головна</a></li>
    <li><a href="login"><span class="material-symbols-outlined">how_to_reg</span> Увійти</a></li>
    <li><a href="tech-recs.html"><span class="material-symbols-outlined">tv_options_edit_channels</span> Технічні рекомендації</a></li>
    <li><a href="forum.html"><span class="material-symbols-outlined">forum</span> Форум</a></li>
    <li><a href="community-rules" style="text-decoration:none"><span class="material-symbols-outlined">gavel</span> Державний Кодекс</a></li>
    <li><a href="/logout" style="text-decoration:none"> Вийти</a></li>
    
</ul>

  <i class="uil uil-search search-icon" id="searchIcon"></i>
  <div class="search-box" id="searchBox" style="display: none;">
    <input type="text" id="searchInput" class="search-input" placeholder="Search here..." />
  </div>
</nav>

